// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Sedgwick+Ave&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1440px !important;
}
